body { background: #8e51a0; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 21px; display: flex; }
.block-shipping-0 { color: #91c660; font-size: 19px; margin-bottom: 5px; }
.block-auth-1 { color: #75c177; font-size: 20px; margin-bottom: 5px; }
.block-uploader-2 { color: #f270f2; font-size: 12px; margin-bottom: 5px; }
.block-session-3 { color: #4a250; font-size: 20px; margin-bottom: 5px; }
.block-email-4 { color: #ab01e; font-size: 17px; margin-bottom: 5px; }